
/* @import '/index.css'; */


.main {
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../../assets/img/contactoFondo.png') no-repeat left;
  background-size: cover;

}

.main__ancor {
  text-decoration: none;
  color: var(--text-color);
}


.registration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 80px;
}

.registration__container {
  display: flex;
  justify-content:center;
  flex-direction: column;
  min-height: 80vh;
  min-width: 20vw;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}


.registration__titles {
  position: relative;
  text-align: center;
  padding: 0.5rem 0;
}

.registration__titles-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  color: var(--primary-text-color);
}

.registration__titles-message {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0;
  color: var(--primary-text-color);
}

.registration__form {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  margin: 0 auto;
}

.registration__input-text {
  box-sizing: border-box;
  background-color: transparent;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  color: var(--primary-text-color);
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 100%;
  transition: all 0.5s;
}
.registration__label-text {
  color: var(--primary-text-color);
  margin: 0.5rem auto;
  width: 100%;
  transition: all 0.5s;
  padding: 0.5rem;
}
.registration__text-area {
  background-color: transparent;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  color: var(--primary-text-color);
  outline-color: var(--primary-text-color);
  padding: 1rem;
  margin: 0.5rem auto;
  width: 100%;
  transition: all 0.5s;
}

.registration__input-text:focus {
  border: 0.1em solid var(--focus-color);
}
.registration__input-text-area:focus {
  border: 0.1em solid var(--focus-color);
}

.registration__input-text::placeholder {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
}

.registration__button {
  background-color: rosybrown;
  color: #ffe8c2;
  border: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  margin: 1rem auto;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
}

.registration__button:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}

.registration__button:hover:active {
  transform: scale(0.9);
}


